body {
	background-color: #f2f2f2;
}
img{
    width: 400px;
    height: 70px;
}
#arms{
    width: 80px;
    height: 80px;
}
.login-box {
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 50px auto;
	max-width: 400px;
	text-align: center;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type=text], input[type=password] {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
#textarea{
    height: 60px;
}
input[type=submit] {
	margin-top: 5%;
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

input[type=submit]:hover {
	background-color: #3e8e41;
}
